body .button {
  color: rgba(var(--button-color-text), 1);
  background-color: rgba(var(--button-color-bg), 1);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 1025px) {
  body .button:hover {
    color: rgba(var(--button-color-text-hover), 1);
    background-color: rgba(var(--button-color-bg-hover), 1);
  }
}

body .button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--button-color-bg), 1);
  z-index: -1;
}

@media screen and (min-width: 1025px) {
  body .button:hover:before {
    opacity: 0;
    transition: all var(--duration-mid) ease .2s;
  }
}

body .button:after {
  content: '';
  position: absolute;
  top: -.1rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% + .2rem);
  background-color: rgba(var(--button-color-bg-hover), 1);
  transform: translateX(-101%);
  transition: all var(--duration-mid) ease-in-out;
  z-index: -1;
}

@media screen and (min-width: 1025px) {
  body .button:hover:after {
    transform: translateX(0);
  }
}

.quick-add__submit.button,
.kawai-mood .quick-add__submit.button {
  color: rgba(var(--quick-add-text), 1);
  border-color: rgba(var(--quick-add-border), 1);
  background-color: rgba(var(--quick-add-background), 1);
}

.quick-add__submit.button span {
	color: rgba(var(--quick-add-text), 1);
  transition: all .3s ease;
}

@media screen and (min-width: 1025px) {
  .quick-add__submit.button:hover,
  .kawai-mood .quick-add__submit.button:hover {
    background-color: rgba(var(--quick-add-background-hover), 1);
  }
}

.quick-add__submit.button:before {
  background-color: rgba(var(--quick-add-background), 1);
}

@media screen and (min-width: 1025px) {
  .quick-add__submit.button:hover span,
  .quick-add__submit.button:hover,
  .kawai-mood .quick-add__submit.button:hover,
  body.kawai-mood .card__content .quick-add__submit:not(.card--horizontal__quick-add):hover {
    color: rgba(var(--quick-add-text-hover), 1);
    border-color: rgba(var(--quick-add-border-hover), 1);
  }
}

.quick-add__submit.button:after {
  background-color: rgba(var(--quick-add-background-hover), 1);
} 

@media screen and (min-width: 1025px) {
  .quick-add__submit.button:hover:after {
    background-color: rgba(var(--quick-add-background-hover), 1);
  }
}
