.header__icon--menu {
  position: initial;
  min-width: none;
}

.icon-hamburger path {
	color: var(--clr-icon, currentColor);
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  top: 100%;
  left: 0;
  background: rgba(var(--color-base-text), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 100%;
  width: calc(100vw);
  padding: 0;
  border-width: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
}

/* .menu-drawer-container > summary {
  position: relative;
  z-index: 4;
} */

@media screen and (max-width: 749px) {
  .menu-drawer {
    max-width: 100%;
  }
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-mid) ease, visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .header-wrapper .header-not-cover .menu-drawer {
  transform: translateX(-100%);
}

.menu-drawer details[open].menu-opening > summary > .icon-caret {
  transform: rotate(180deg);
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden;
}

.js .dropdown .menu-drawer__navigation .submenu-open {
  visibility: visible;
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.header-drawer-menu .drawer-icon-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  cursor: pointer;
  z-index: 2;
}

.header-drawer-menu .drawer-icon-close * {
  color: rgba(var(--button-color-text), 1);
}

.drawer-icon-close .icon-close {
  width: 3rem;
  height: 3rem;
  padding: .6rem;
  background-color: rgba(var(--button-color-bg),1);
  border: 0.1rem solid rgb(var(--button-color-bg));
  color: rgba(var(--button-color-text), 1);
  border-radius: 50%;
}

.menu-drawer__inner-container {
  position: relative;
  z-index: 1;
  height: 100%;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
}

.menu-drawer__navigation {
  padding: 2rem 0;
}

.header-drawer-menu .menu-drawer__navigation {
  padding-right: 3rem;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-base-text), 0.22);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-base-text), 0.22);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: 1.1rem 2rem;
  text-decoration: none;
}

.menu-drawer__menu-item {
  font-size: 2.4rem;
  font-weight: 600;
}

@media screen and (max-width: 989px){
  .menu-drawer__menu-item {
    font-size: 2rem;
  }
}

.menu-drawer__menu .menu-drawer__menu > li {
  border-bottom: transparent;
}
.menu-drawer__menu .menu-drawer__menu > li:last-child {
  margin-bottom: .6rem;
}

.menu-drawer__inner-submenu .menu-drawer__menu-item {
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu-drawer__inner-submenu .menu-drawer__submenu .menu-drawer__menu-item {
  font-size: 1.6rem;
  padding: .4rem 2rem .4rem 4rem;
  font-weight: 400;
}

.slide .menu-drawer__inner-submenu .menu-drawer__submenu .menu-drawer__menu-item {
  font-size: 1.6rem;
  padding: .8rem 2rem;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 5.2rem;
  width: 100%;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__menu-item:hover {
  color: rgb(var(--color-base-text));
}

.dropdown .menu-drawer__menu-item--active,
.dropdown .menu-drawer__menu-item:focus,
.dropdown .menu-drawer__close-button:focus,
.dropdown .menu-drawer__menu-item:hover,
.dropdown .menu-drawer__close-button:hover {
  color: rgb(var(--color-base-text));
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.js .dropdown .menu-drawer__menu-item .icon-caret {
  display: block;
}
.js .dropdown.menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  border-left: 0.1rem solid rgba(var(--color-base-text), 0.2);
  z-index: 3;
  transform: translateX(0);
  visibility: hidden;
}

.js .header-not-cover .menu-drawer__submenu {
  border-left: transparent;
}

.js .dropdown .menu-drawer__submenu {
  position: relative;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.menu-drawer__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.dropdown .menu-drawer__close-button,
.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

.menu-drawer__utility-links {
  padding: 0;
  position: relative;
}

.header--has-social .menu-drawer__utility-links {
  padding: 2rem;
}

@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: 2rem;
  }
}

@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: 2rem;
  }
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: .9rem 2.4rem;
  font-size: 1.4rem;
  color: rgb(var(--color-base-text));
  margin-bottom: 2rem;
  border: .1rem solid rgba(var(--color-base-text), 1);
  border-radius: var(--buttons-border-radius);
}
.menu-drawer__utility-links:has(ul:empty) .menu-drawer__account,
.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin-bottom: 1rem;
}
.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}
.menu-drawer .list-social {
  justify-content: flex-start;
}
.menu-drawer .list-social:empty {
  display: none;
}
.menu-drawer .list-social__link {
  padding: 1.3rem 1.25rem;
}

.menu-drawer .list-social__item:first-child .list-social__link {
  padding-left: 0;
}

.js .header-wrapper .menu-drawer {
  transform: translate(-100%, 2rem);
  height: auto;
  max-height: calc(95dvh - 100% - 2rem);
  max-width: 32rem;
  padding: 0 1rem;
  border-radius: 2rem;
}

.js .header-wrapper .drawer-menu.header-not-cover .menu-drawer {
  border-radius: 0 0 2rem 0;
}

@media screen and (max-width: 989px) {
  .js .header-wrapper .header-not-cover .menu-drawer {
    border-radius: 0 0 2rem 0;
  }
}

.js .header-wrapper .header-drawer-menu details[open].menu-opening > .menu-drawer {
  transform: translate(0, 2rem);
}

.js .header-wrapper .header-drawer-menu .menu-drawer__menu > li {
  border: none;
  margin-bottom: 0;
}

.js .header-wrapper .menu-drawer__menu-item {
  font-weight: 500;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.js .header-wrapper .menu-drawer__submenu {
  border-left: none;
}

.menu-drawer__product {
  padding: 0 2rem;
}

.menu-drawer__product .card__heading {
  margin-bottom: 1.5rem;
}

.menu-drawer__product .card--card .card-information + .quick-add {
  margin-top: 1.5rem;
}