.card-wrapper {
  color: inherit;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.card {
  text-decoration: none;
  text-align: var(--text-alignment);
}

.product-card-wrapper .card-variants {
	justify-content: var(--text-alignment);
}

.card:not(.ratio) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 750px) {
  .collection-list-wrapper .grid--1-col-desktop.collection-list {
    row-gap: calc(var(--grid-desktop-horizontal-spacing) + 7rem);
  }

  .collection-list-wrapper .grid--1-col-desktop .collection-list__item  .collection-list-card:not(.ratio) > .card__content {
    display: flex;
    flex-direction: column;
  }

	.collection-list-wrapper .grid--1-col-desktop .collection-list__item  .collection-list-card.bg:not(.ratio) .collection-list-card__content {
		padding-left: 1.5rem;
		padding-right: 1.5rem;	
  }

	.collection-list-wrapper .grid--1-col-desktop .collection-list__item  .collection-list-card.bg:not(.ratio) .collection-list-card__inner {
		margin: 1.5rem;
  }

  .collection-list-wrapper .grid--1-col-desktop .collection-list__item  .collection-list-card:not(.ratio) > .card__content .card__information {
    padding-bottom: 4rem;
  }

  .collection-list-wrapper .grid--1-col-desktop .collection-list__item  .collection-list-card:not(.ratio) {
    column-gap: calc(var(--grid-desktop-horizontal-spacing) + 4rem);
  }

	.collection-list-wrapper .title-wrapper-with-link.left {
		justify-content: flex-start;
	}

  .collection-list-wrapper .title-wrapper-with-link.center {
    justify-content: center;
  }

	.collection-list-wrapper .title-wrapper-with-link.right {
		justify-content: flex-end;
	}

  .collection-list-wrapper .grid--1-col-desktop .collection-list__item:nth-child(even) .collection-list-card:not(.ratio) {
    flex-direction: row-reverse;
    align-items: center;
  }
  .collection-list-wrapper .grid--1-col-desktop .collection-list__item:nth-child(odd) .collection-list-card:not(.ratio) {
    flex-direction: row;
    align-items: center;
  }
}

.collection-list-wrapper .grid--1-col-desktop.collection-list {
  column-gap: var(--grid-desktop-horizontal-spacing);
  row-gap: var(--grid-desktop-vertical-spacing);
}


.collection-list-card.card-empty .collection-list-card__inner {
  border-radius: 1rem;
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-base-text), 0.04), rgba(var(--color-base-text), 0.04));
  border: 1px solid rgb(var(--border-color));
}

.card-empty .collection-list-card__inner .card__heading .full-unstyled-link .icon-wrap {
	display: inline-flex;
}

.card-empty .collection-list-card__inner .card__heading .full-unstyled-link {
	display: flex;
	align-items: center;
}

.collection-list-card {
	background: var(--bg-clr, transparent);
	border-radius: var(--custom-card-radius, var(--collection-card-corner-radius));
}

@media screen and (max-width: 749px) {
  .card-empty .card__information.card__information--top {
    display: none;
  }

  .collection-list-wrapper .grid--1-col-desktop.collection-list {
    column-gap: var(--grid-mobile-horizontal-spacing);
    row-gap: var(--grid-mobile-vertical-spacing);
  }

  .collection-list-wrapper .grid--1-col-desktop.collection-list {
    padding-left: 1.5rem;
  }
}


@media screen and (max-width: 989px) {
  .collection-list-wrapper .grid--1-col-tablet-down.grid--peek .grid__item {
    width: calc(100% - var(--grid-desktop-horizontal-spacing) - 3rem);
  }
	.collection-list-wrapper .title-wrapper-with-link {
		padding: 0;
	}

	.collection-list-wrapper .collection-list.grid--1-col-desktop.grid--2-col-tablet-down .collection-list__item .card-wrapper.collection-card-wrapper .collection-list-card {
		flex-direction: column;	
	}
}

.card.card--horizontal {
  --text-alignment: left;
  --image-padding: 0rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}

.card--horizontal.ratio:before {
  padding-bottom: 0;
}

.card--card.card--horizontal {
  padding: 1.2rem;
}

.card--card.card--horizontal.card--text {
  column-gap: 0;
}

.card--card {
  height: 100%;
  border-radius: var(--border-radius);
  border: var(--border-width) solid rgb(var(--border-color));
}

.card--card,
.card--standard .card__inner {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.article-card.card--text .card__inner {
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-base-text),.04),rgba(var(--color-base-text),.04));
}

.card--card:after,
.card--standard .card__inner:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius)
    rgba(var(--color-shadow), var(--shadow-opacity));
}

.card .card__inner .card__media a.content-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card .card__inner .card__media {
	overflow: hidden;
  z-index: 0;
  border-radius: var(--border-radius);
}

.collection-list-card-link,
.collection-list-card .card__inner .card__media {
	border-radius: var(--custom-card-radius, var(--border-radius));
}

.card.collection-list-card.bg .card__information {
	padding-left: 2rem;
	padding-right: 2rem;
}

.complementary-products__container .card .card__inner .card__media,
.cart-recommendations .card .card__inner .card__media {
  border: 0.1rem solid rgb(var(--border-color));
}

.main-cart-wrap .cart-recommendations .card .card__inner .card__media {
  background-color: rgb(var(--color-background));
}

.cart-item__image-container {
  --border-radius: var(--product-card-corner-radius);
  border-radius: var(--border-radius);
}

.cart-item__image-container .cart-item__image {
  border-radius: var(--border-radius);
}

.card--card .card__inner .card__media {
  border-radius: 0;
}

.card--standard.card--text {
  background-color: transparent;
}

.article .card--standard.card--text .card__inner { 
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-base-text), 0.04), rgba(var(--color-base-text), 0.04));
}

.card-information {
  text-align: var(--text-alignment);
}

.card-information .price--on-sale .price__sale {
  justify-content: var(--text-alignment);
}

.card--card .card-information + .quick-add {
  margin-top: 3rem;
}

.card__media,
.card .media {
  bottom: 0;
  position: absolute;
  top: 0;
}

.card .media {
  width: 100%;
}

.card .media.hover-image img + img {
  opacity: 0;
}
.card .media.hover-image:hover img + img {
  opacity: 1;
}

.card__media {
  margin: var(--image-padding);
  width: calc(100% - 2 * var(--image-padding));
}

.card--standard .card__media {
  margin: var(--image-padding);
}

.card__inner {
  width: 100%;
}

.card--media .card__inner .card__content {
  position: relative;
  padding: calc(var(--image-padding) + 1rem);
  overflow: hidden;
}

.card__content {
  display: grid;
  grid-template-rows: minmax(0, 1fr) max-content minmax(0, 1fr);
  padding: 1rem 2rem;
  width: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 749px) {
  .product-grid.grid--2-col-tablet-down .card--card > .card__content {
    padding: 10px;
  }
}

.card__content .content-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.article .card--text .card__content {
  padding-top: 2rem;
  grid-template-rows: auto;
}

.article-card-wrapper .card--card .card__content {
  padding: 1.5rem 1rem 1rem;
}

.card__content--auto-margins {
  grid-template-rows: minmax(0, auto) max-content minmax(0, auto);
}

.card__information {
  grid-row-start: 2;
  padding: 1.3rem 1rem;
}

@media screen and (max-width: 989px) {
  .grid--2-col-tablet-down .card__information {
    padding: 1.3rem 0;
  }
}

.card--product .placeholder-wrapper .card__content {
	display: none;
}

.product-empty .placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-empty .placeholder {
  border: 1px solid rgb(var(--border-color));
}

.collage:not(.multicolage) .card__inner .placeholder {
  border: none;
}

.product-empty .card__content {
  padding: 0;
}
.product-empty .card__information {
  padding-right: 0;
  padding-left: 0;
}

.card:not(.ratio) > .card__content {
  grid-template-rows: max-content minmax(0, 1fr) max-content auto;
}

@media screen and (max-width: 749px) {
  .article-card-wrapper .card--card .card__content .card__badge {
    margin: 0 0 2rem;
  }
  .article-card-wrapper .card--card.card--media .card__content .card__badge {
    margin: 1rem 1rem 2rem;
  }
}
@media screen and (min-width: 750px) {
  .card__information {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
  }
  .article-card-wrapper .card--card .card__content {
    padding: 2rem 3rem 3rem;
  }
  .template-search__results .article-card-wrapper .card--card .card__content {
    padding: 2rem 2rem;
  }
  .card--card .card__information {
    padding: 1rem 0;
  }
  .article-card-wrapper .card--card .card__content .card__badge {
    margin: 0 0 2rem;
  }
}

.card__badge {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  grid-row-start: 3;
  justify-self: flex-start;
  margin: 1rem;
  position: relative;
  z-index: 2;
  gap: .7rem;
}


@media screen and (max-width: 749px) {
  .grid--2-col-tablet-down .card__badge {
    margin: 0;
  }
}

.card__badge.top {
  align-self: flex-start;
  grid-row-start: 1;
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.card__badge.right {
  justify-self: flex-end;
}

.card:not(.card--horizontal) > .card__content > .card__badge {
  margin: .5rem;
}

.card__media .media img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.blog-articles--collage .article:first-child .media-adapt .media img {
  object-fit: contain;
}

.card__inner:not(.ratio) > .card__content {
  height: 100%;
}

.card__heading {
  margin-top: 0;
  transition: all .3s ease;
}

.product-card-wrapper .card__heading + .card-information .price {
  margin-top: 1.7rem;
}
.product-card-wrapper .card__heading + .card-information .card-variants-wrapp {
  margin-top: 1.7rem;
}
.product-card-wrapper .card__heading + .card-information .card-variants-wrapp + .card-variants-wrapp {
  margin-top: 1rem;
}
.product-card-wrapper .card__heading + .card-information .card-variants-wrapp + .price {
  margin-top: 0.7rem;
}

.card__heading:last-child {
  margin-bottom: 0;
}

.card--horizontal .price__container .price-item,
.card--horizontal__quick-add {
  font-size: 1.4rem;
}

.card--horizontal .card-information > *:not(.visually-hidden:first-child) + *:not(.rating) {
  margin-top: 0;
}

.card--horizontal__quick-add:before {
  box-shadow: none;
}

@media only screen and (min-width: 750px) {
  .card--horizontal .price__container .price-item,
  .card--horizontal__quick-add {
    font-size: 1.6rem;
  }
}

.card--card.card--media > .card__content {
  margin-top: calc(0rem - var(--image-padding));
}

.article-card.card--card > .card__content {
  padding-bottom: 2rem;
}

.card--standard.card--text a::after {
  bottom: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1);
}

.card__heading a:after {
  outline-offset: 0.3rem;
}

.product-grid .card__heading a:after,
.card_products .card__heading a:after {
  bottom: auto;
  height: 0;
  padding-bottom: calc(var(--ratio-percent) + 23%);
}

.collection-list-card__information .card__heading a:after {
  display: none;
}

.card__heading a:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-base-text), 0.3);
  outline: 0.2rem solid rgba(var(--color-base-text), 0.5);
}

.card__heading a:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-base-text), 0.3);
  outline: 0.2rem solid rgba(var(--color-base-text), 0.5);
}

.card__heading a:focus:not(:focus-visible):after {
  box-shadow: none;
  outline: 0;
}

.card__heading a:focus {
  box-shadow: none;
  outline: 0;
}


@media screen and (min-width: 990px) {
  .card-image-hover:hover .media.media--hover-effect > img:first-child:not(:only-child) {
    opacity: 0;
  }

  .card-image-hover:hover .media.media--hover-effect > img + img {
    opacity: 1;
  }

}
.underline-links-hover:hover a:not(.article-link) {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.underline-links-hover:has(a:not(.article-link):focus-visible) a:not(.article-link) {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.card--standard.card--media .card__inner .card__information,
.card--standard.card--text:not(.card--horizontal) > .collection-list-card__content > .card__information,
.card--standard:not(.card--horizontal) > .card__content .card__badge,
.card--standard.card--text.article-card > .card__content .card__information,
.card--standard > .card__content .card__caption {
  display: none;
}

.card--standard > .card__content {
  padding: 0;
}

.card--standard > .card__content .card__information {
  padding-left: 0;
  padding-right: 0;
}

.card--card.card--media .card__inner .card__information,
.card--card.card--text .card__inner,
.card--card.card--media > .card__content .card__badge,
.card--standard.article-card.card--text.badge-no-after-image > .card__content {
  display: none;
}

.featured-blog.collage-blog .card--standard.article-card.card--text.badge-no-after-image > .card__inner {
  width: 100%;
}

.blog.featured-blog .card--card.card--media > .card__content .card__badge {
  display: block;
}

.card--horizontal .card__badge,
.card--horizontal.card--text .card__inner {
  display: none;
}

.card--extend-height {
  height: 100%;
}

.card--extend-height.card--standard.card--text,
.card--extend-height.card--media {
  display: flex;
  flex-direction: column;
}

.card--extend-height.card--standard.card--text .card__inner,
.card--extend-height.card--media .card__inner {
  flex-grow: 1;
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card-product-info > span {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: var(--body-font-small);
  color: rgb(var(--color-secondary-heading));
}

.card-information > * + * {
  margin-top: 0.5rem;
}

.card-information {
  width: 100%;
  margin-top: 2rem;
}

@media screen and (max-width: 990px){
  .card-information{
    width: 100%;
    margin-top: 0rem;
  }


}

.card-information > * {
  line-height: 1.4;
  color: rgb(var(--color-base-text));
}

.card-information .caption-with-letter-spacing {
	word-break: break-word;
}

.card-information > .price {
  color: rgb(var(--color-base-text));
}

.card--horizontal .card-information > .price {
  color: rgba(var(--color-base-text), 1);
}

.card-information > .rating {
  margin-top: 0.4rem;
}

.card-information > *:not(.visually-hidden:first-child) + * {
  margin-top: 0.7rem;
}

.card-information .caption {
  letter-spacing: 0.07rem;
}

.card-article-info {
  margin-top: 1rem;
}

/* Card Shapes */

.card--shape .card__content {
  padding-top: 0;
}

.card--shape.card--standard:not(.card--text) .card__inner {
  border: 0;
  background-color: transparent;
  filter: drop-shadow(
    var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius)
      rgba(var(--color-shadow), var(--shadow-opacity))
  );
}

.card--shape.card--standard:not(.card--text) .card__inner:after {
  display: none;
}

.grid__item:nth-child(2n) .shape--blob {
  clip-path: polygon(var(--shape--blob-2));
}

.grid__item:nth-child(3n) .shape--blob {
  clip-path: polygon(var(--shape--blob-3));
}

.grid__item:nth-child(4n) .shape--blob {
  clip-path: polygon(var(--shape--blob-4));
}

.grid__item:nth-child(5n) .shape--blob {
  clip-path: polygon(var(--shape--blob-5));
}

.grid__item:nth-child(7n) .shape--blob {
  clip-path: polygon(var(--shape--blob-6));
}

.grid__item:nth-child(8n) .shape--blob {
  clip-path: polygon(var(--shape--blob-1));
}

/* Card Shape Hover Rules */

@media (prefers-reduced-motion: no-preference) {
  .product-card-wrapper .shape--round {
    transition: clip-path var(--duration-long) ease;
  }

  .product-card-wrapper:hover .shape--round {
    clip-path: ellipse(47% 47% at 50% 50%);
  }

  .product-card-wrapper .shape--blob {
    transition: clip-path var(--duration-long) ease-in-out;
  }

  .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-5));
  }

  .grid__item:nth-child(2n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-6));
  }

  .grid__item:nth-child(3n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-1));
  }

  .grid__item:nth-child(4n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-2));
  }

  .grid__item:nth-child(5n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-3));
  }

  .grid__item:nth-child(7n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-4));
  }

  .grid__item:nth-child(8n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-5));
  }
}

.blog.featured-blog .card--card.card--media.badge-no-after-image > .card__content .card__badge.after_image {
	display: none;
}
