.totals {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.totals ~ .totals {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: .1rem solid rgb(var(--color-base-heading));
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}


.totals > h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  flex: 0 0 max-content;
}

.cart__footer .totals__subtotal-value {
  font-size: 2.4rem;
  font-weight: 500;
}

.totals_subtotal .totals__subtotal-value,
.totals_subtotal > span {
  font-size: 2rem;
  font-weight: 400;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: space-between;
  }
}

#main-cart-footer .cart__ctas {
  justify-content: flex-end;
}

#main-cart-footer .icon-with-text + .cart__ctas {
  margin-top: 3rem;
}

#main-cart-footer.page-width {
  max-width: calc(var(--page-width) + 6rem);
}

#main-cart-footer .cart__blocks {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#main-cart-footer .cart__note .text-area {
  max-width: 45rem;
  border: 0.1rem solid rgba(var(--color-base-text));
}

.columns #main-cart-footer .cart__note .text-area {
  max-width: 100%;
}

#main-cart-footer .cart__blocks #cart-errors {
  text-align: right;
}

@media all and (max-width: 749px) {
  #main-cart-footer .cart__blocks {
    padding-left: 0;
  }

  #main-cart-footer:not(.is-empty) {
    padding-top: 2.5rem;
  }

  #main-cart-footer .cart__note .text-area {
    max-width: 100%;
  }
}