.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 2rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: 0.6rem;
}

.product__accordion summary .accordion__title-icon {
  display: inline-block;
  position: absolute;
  left: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(var(--button-color-bg), 1);
  top: 50%;
}

.product__accordion summary .accordion__title-icon::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: .2rem;
  position: absolute;
  left: auto;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(var(--button-color-text), 1);
}
.product__accordion summary .accordion__title-icon::after {
  content: '';
  display: inline-block;
  width: .2rem;
  height: 1rem;
  position: absolute;
  left: auto;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(var(--button-color-text), 1);
  transition: all var(--duration-mid) ease-in-out;
}

.product__accordion details[open] summary .accordion__title-icon::after {
  height: .2rem;
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-bottom: 0.1rem solid rgba(var(--color-base-text), 0.08);
}

.product__accordion:last-of-type details {
  border-bottom: transparent;
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  font-weight: 500;
  margin: 0;
  word-break: break-word;
}

details[open] .accordion__title {
  color: rgb(var(--color-secondary-heading));
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-base-text));
  height:  2rem;
  margin-right:  1rem;
  width:  2rem;
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}

.product__accordion .accordion__content {
  overflow: visible;
}