.template-search__header h1 {
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.section-header:has(sticky-header[data-sticky-type="cover-logo-size"]) ~ .content-for-layout .template-search__header h1 {
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 750px) {
  .section-header:has(sticky-header[data-sticky-type="cover-logo-size"]) ~ .content-for-layout .template-search__header h1 {
    margin-top: 3.5rem;
  }
}

.template-search__header {
  position: relative;
}

@media screen and (min-width: 750px) {
  .template-search__header:not(.full-width) {
    margin: 0 5rem;
    max-width: var(--header-width);
    border-radius: 2rem;
  }
}

@media screen and (min-width: 1700px) {
  .template-search__header:not(.full-width) {
    margin-right: auto;
    margin-left: auto;
  }
}

.template-search__header .status {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
	font-weight: var(--font-body-weight);
}

.search-hero--overlay,
.search-hero--overlay-right {
  position: absolute;
  display: flex;
  max-height: 100%;
  width: auto;
  z-index: 0;
  top: 0;
  bottom: 0;
}
.search-hero--overlay img,
.search-hero--overlay-right img {
  height: 100%;
  max-height: 100%;
  width: auto;
}

.search-hero--overlay {
  left: 0;
  text-align: left;
}

.search-hero--overlay-right {
  right: 0;
  left: auto;
  text-align: right;
}

@media screen and (max-width: 1199px) {
  .search-hero--overlay,
  .search-hero--overlay-right {
    height: 50%;
  }
  .search-hero--overlay {
    bottom: auto;
  }
  .search-hero--overlay-right {
    top: auto;
  }
}

.template-search .collection--empty .title-wrapper {
  margin: 3rem auto 5rem;
}

.template-search .grid-empty {
  padding-top: 0;
}

.search__input.field__input {
  padding-right: 9.8rem;
  border: .1rem solid rgba(var(--color-base-text), 1);
}

.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
  height: calc(100% - var(--inputs-border-width) * 2);
}

.reset__button {
  right: calc(var(--inputs-border-width) + 4.4rem);
  top: var(--inputs-border-width);
}

.reset__button:not(:focus-visible)::after {
  border-right: 0.1rem solid rgba(var(--color-base-text), 0.08);
  display: block;
  height: calc(100% - 1.6rem);
  content: '';
  position: absolute;
  right: 0;
}

.reset__button:not(:focus)::after {
  border-right: 0.1rem solid rgba(var(--color-base-text), 0.08);
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  right: 0;
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.search__button:hover .icon,
.reset__button:hover .icon {
  transform: scale(1.07);
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.reset__button .icon.icon-close {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.article-card-wrapper.page .card__heading .full-unstyled-link:hover {
  text-decoration: underline;
}

.template-search .badge {
  pointer-events: none;
}