.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer .list-social {
  margin-left: -1rem;
}

.footer .list-social.bottom-position {
  width: 100%;
  max-width: calc(4.4rem * 5);
  align-items: center;
  flex-shrink: 0;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: flex-start;
  }

  .footer .list-social.bottom-position {
    max-width: none;
    justify-content: flex-start;
    padding: 0 1.5rem;
  }
}

.center .list-social {
  justify-content: center;
}

.left .list-social {
  justify-content: flex-start;
}

.right .list-social {
  justify-content: flex-end;
}


.banner--content-align-mobile-left .list-social {
  justify-content: flex-start;
}
.banner--content-align-mobile-right .list-social {
  justify-content: flex-end;
}

@media only screen and (min-width: 750px) {
  .banner__box .list-social {
    justify-content: center;
  }
  .banner--content-align-left .list-social {
    justify-content: flex-start;
  }
  .banner--content-align-right .list-social {
    justify-content: flex-end;
  }
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.3rem;
  color: rgb(var(--color-base-text));
}

.list-social__link:hover {
  transform: scale(1.07);
}

.text-color-main-hover .list-social__link:hover .icon,
.text-color-main-hover .list-social__link:hover .icon * {
  color: rgb(var(--color-base-text));
}
.text-color-secondary-hover .list-social__link:hover .icon,
.text-color-secondary-hover .list-social__link:hover .icon * {
  color: rgb(var(--color-secondary-text));
}
.text-color-heading-hover .list-social__link:hover .icon,
.text-color-heading-hover .list-social__link:hover .icon * {
  color: rgb(var(--color-base-heading));
}
.text-color-heading-secondary-hover .list-social__link:hover .icon,
.text-color-heading-secondary-hover .list-social__link:hover .icon * {
  color: rgb(var(--color-secondary-heading));
}
