.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.main-cart-wrap .is-empty .cart-recommendations,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
#main-cart-footer.is-empty,
.is-empty .cart__footer {
  display: none;
}

.cart-wrapp.is-empty {
  border-radius: 1rem;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.is-empty .cart__empty-icon {
  color: rgb(var(--color-base-heading));
  width: 13rem;
  height: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.is-empty .cart__empty-icon svg {
  max-width: 100%;
  max-height: 100%;
}

.cart__warnings {
  position: relative;
  display: none;
  text-align: center;
  padding: 3rem 0 8rem;
}

.cart__warnings.style-2{
  padding: 6rem 3rem;
}

.cart__empty-text {
  margin: 2.5rem 0 2rem;
}

.style-2 .cart__empty-text{
  margin: 3rem 0;
}

@media screen and (min-width: 990px) {
  .style-2 .cart__empty-text{
    margin: 3rem 0 6rem;
  }
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5rem 0 0.5rem;
}

.style-2 .cart__login-title {
  margin: 2rem 0 1rem;
}

.cart__empty-text {
  font-weight: 700;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
  margin-bottom: 1.8rem;
}

.style-2 .cart__login-paragraph {
  margin-bottom: 0;
}

.cart__login-paragraph a {
  font-size: inherit;
  color: rgb(var(--color-base-heading));
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 10rem 0 10rem;
  }

  .cart__warnings.style-2 {
    padding: 6rem 0 6rem;
  }
  

  .cart__empty-text {
    margin: 0 0 3rem;
  }

  .cart__empty-text.mb-lg-6{
    margin-bottom: 6rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 0;
  padding-top: 0;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer:has(.cart__note) {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 4rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1.5rem;
}

.cart-note textarea {
	border-style: solid;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-base-text), 1);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
  min-height: 13rem;
  border-radius: 1rem;
  border-color: transparent;
}

.cart-drawer .cart__note .text-area {
  border-color: rgba(var(--color-base-text), 0.8);
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

.cart__blocks.background:first-child {
	width: 100%;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 0;
    padding-top: 0;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: calc(50% - 1.5rem);
  }

  .cart__footer > * + * {
    margin-left: 3rem;
    margin-top: 0;
  }

  .cart__footer-wrapper:last-child .cart__footer {
    padding-bottom: 11rem;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  width: 100%;
  max-width: 36rem;
  margin: 0;
  margin-left: auto;
}

@media screen and (max-width: 1050px) {
  .cart__dynamic-checkout-buttons li {
    min-width: calc(100% - 1rem);
    max-width: 100%;
  }

  .cart__dynamic-checkout-buttons {
    max-width: 100%;
  }
	.background .cart__dynamic-checkout-buttons {
    max-width: 36rem;
  }
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__blocks > * + .cart__dynamic-checkout-buttons {
  margin-top: 2rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: 2;
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: left;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.columns .cart__checkout-button {
  max-width: 100%;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2rem;
    text-align: right;
  }

  .totals_subtotal ~ .tax-note {
    text-align: left;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .icon-with-text ~ .additional-checkout-buttons [data-shopify-buttoncontainer] {
    justify-content: flex-start;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

.cart-footer-cart-note {
  padding: 6.5rem 9rem 4rem 4rem;
  border-radius: 1rem;
}

@media screen and (max-width: 949px) {
  .cart-footer-cart-note {
    padding: 6.5rem 4rem 4rem 4rem;
    border-radius: 1rem;
  }
}

.cart__blocks {
  padding: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-drawer {
  position: relative;
}

.cart-drawer .cart-recommendations .drawer__heading {
  margin-bottom: 2rem;
  display: inline-block;
}

.cart-drawer .cart-recommendations ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

@media screen and (min-width: 950px) {
  .cart-drawer .cart-recommendations ul {
    flex-direction: column;
    gap: 1.8rem;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100% - 5rem);
  }
}

.cart-drawer .cart-recommendations .card__information {
  padding: 0;
}

.cart-drawer .cart-recommendations .card__inner {
  width: 35%;
}

.cart-drawer .cart-recommendations .card__content {
  width: 65%;
}

.cart-drawer .cart-recommendations .card__heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.main-cart-wrap .cart-recommendations .card:not(.card--card) .quick-add,
.cart-drawer .cart-recommendations .card:not(.card--card) .quick-add {
  margin-top: auto;
  display: block;
  position: relative;
}


.main-cart-wrap .cart-recommendations .product-card-wrapper:hover .card__heading,
.cart-drawer .cart-recommendations .product-card-wrapper:hover .card__heading,
.main-cart-wrap .cart-recommendations .card:not(.card--card) .quick-add,
.cart-drawer .cart-recommendations .card:not(.card--card) .quick-add,
.main-cart-wrap .cart-recommendations .product-card-wrapper:hover .card:not(.card--card) .quick-add,
.cart-drawer .cart-recommendations .product-card-wrapper:hover .card:not(.card--card) .quick-add {
  transform: translate(0);
  animation: none;
  opacity: 1;
}

@media screen and (max-width: 949px) {
  .cart-drawer .cart-recommendations .card .quick-add {
    margin-top: 0.5rem;
  }
  .cart-drawer .cart-recommendations .card__heading {
    margin-bottom: 0.5rem;
  }

  .cart-drawer .cart-recommendations .drawer__heading {
    margin-bottom: 1.5rem;
  }
}

.main-cart-wrap .cart-recommendations .quick-add__submit,
.cart-drawer .cart-recommendations .quick-add__submit {
  padding: 0.4rem 0;
  width: 100%;
  min-height: inherit;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  color: rgba(var(--color-base-text), 1);
  text-align: left;
  margin-right: 0;
  font-weight: 700;
}

.main-cart-wrap .cart-recommendations .quick-add__submit:hover,
.cart-drawer .cart-recommendations .quick-add__submit:hover {
  color: rgb(var(--color-secondary-heading));
}

@media screen and (max-width: 949px) {
  .drawer__inner {
    overflow: visible;
  }

  .cart-drawer.has-recommended .cart-item__media {
    width: 8.5rem;
  }

  .cart-drawer.has-recommended .drawer__footer {
    padding-bottom: 2rem;
  }

  .cart-drawer.has-recommended .tax-note {
    margin: 1.5rem 0 1.5rem auto;
  }

  .cart-drawer .cart-recommendations {
    padding-left: 2rem;
    padding-top: 1.5rem;
    max-width: 100%;
  }

  .is-empty .cart-drawer .cart-recommendations {
    padding-bottom: 3rem;
    display: none;
  }

  .cart-drawer .cart-recommendations ul {
    flex-direction: row;
    column-gap: 1.5rem;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 0.8rem;
  }

  .cart-drawer .cart-recommendations ul li {
    width: 70%;
    flex-shrink: 0;
  }

  .cart-drawer .cart-recommendations .card__inner {
    width: 32%;
  }

  .cart-drawer .cart-recommendations .card__content {
    width: 68%;
  }
}

.cart-drawer .cart-horizontal .cart-recommendations {
  padding-left: 2.5rem;
  padding-top: 2rem;
  max-width: 100%;
}

.is-empty .cart-drawer .cart-horizontal .cart-recommendations {
  padding-bottom: 3rem;
  display: none;
}

.cart-drawer .cart-horizontal .cart-recommendations ul {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: .8rem;
}

@media screen and (min-width: 950px) {
.cart-drawer .cart-horizontal .cart-recommendations ul::-webkit-scrollbar {
  height: .6rem;
  background: rgba(var(--border-color), .11);
  border-radius: .2rem;
}

.cart-drawer .cart-horizontal .cart-recommendations ul::-webkit-scrollbar-thumb {
  background: rgba(var(--border-color), .5);
  border-radius: .2rem;
}

.cart-drawer .cart-horizontal .cart-recommendations ul::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--border-color), .7);
}
}

.cart-drawer .cart-horizontal .cart-recommendations ul li {
  width: 65%;
  flex-shrink: 0;
}

.cart-drawer .cart-horizontal .cart-recommendations .card__inner {
  width: 10rem;
}

.cart-drawer .cart-horizontal .cart-recommendations .card__content {
  width: calc(100% - 10rem);
}

@media screen and (min-width: 950px) {
  .cart-drawer .cart-vertical .cart-recommendations {
    position: absolute;
    left: -30rem;
    top: -0.1rem;
    bottom: 0;
    height: calc(100% + 0.2rem);
    transform: translateX(300%);
    z-index: 6;
    background-color: rgb(var(--color-background));
    padding: 2.5rem 2rem 2.5rem 2.5rem;
    border: .1rem solid rgb(var(--border-color));
    border-right: 0;
    border-radius: 2rem 0 0 2rem;
    width: 30rem;
    opacity: 0;
    transition: transform 0.5s ease 0.1s, opacity 0.5s ease 0.15s;
  }

  .drawer.active .cart-vertical .cart-recommendations {
    opacity: 1;
    transform: translateX(0);
  }

  .cart-drawer.has-recommended .drawer__inner.cart-vertical {
    position: relative;
    z-index: 8;
    border-radius: 0 2rem 2rem 0;
    border-left: 0.1rem solid rgba(var(--color-base-text), 0.2);
    overflow: visible;
  }

  .cart-drawer.has-recommended .drawer__inner.cart-vertical::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2.5rem;
    height: calc(100% - 5rem);
    width: 0.1rem;
    background-color: rgba(var(--color-base-text), 0.2);
    z-index: 22;
  }

  .cart-drawer.has-recommended .drawer__header {
    border-radius: 0 2rem 0 0;
    position: relative;
    z-index: 8;
  }
  .cart-drawer.has-recommended cart-drawer-items,
  .cart-drawer.has-recommended .drawer__sale-banner {
    background-color: rgb(var(--color-background));
    position: relative;
    z-index: 8;
  }

  .cart-drawer.has-recommended .drawer__sale-banner {
    margin: 0 2.5rem;
  }

  .cart-drawer.has-recommended .drawer__footer {
    border-radius: 0 0 2rem 0;
    position: relative;
    z-index: 8;
  }
}

.cart-recommendations .loading-overlay__spinner {
  position: absolute;
  right: 0;
  top: 0.7rem;
}


.cart__blocks .icon-with-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 1rem;
}

.cart__blocks .icon-with-text__icon,
.cart__blocks .icon-with-text__icon img {
  max-width: 2.2rem;
  max-height: 2.2rem;
}

shopify-accelerated-checkout-cart {
  --shopify-accelerated-checkout-inline-alignment: center;
}