.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.footer .newsletter-form {
  align-items: flex-start;
}

.newsletter-content .style-colon.countdown-bar {
	justify-content: center;
	text-align: center;
}

@media screen and (min-width: 750px) {
	.newsletter-content.left .progress-label,
	.newsletter-content.left .contdown-bar__label,
	.newsletter-content.left .style-colon .contdown-bar__label,
	.newsletter-content.left .style-colon {
		justify-content: left;
		text-align: left;
	}
	.newsletter-content.center .block-image,
	.newsletter-content.center .featured-icon {
		margin-left: auto;
		margin-right: auto;
	}

	.newsletter-content.center .contdown-bar__label {
		justify-content: center;
	}

	.newsletter-content.center .progress-label,
	.newsletter-content.center .style-colon .contdown-bar__label,
	.newsletter-content.center .style-colon {
		justify-content: center;
		text-align: center;
	}

	.newsletter-content.right .block-image, .newsletter-content.right .featured-icon {
		margin-left: auto;
	}

	.newsletter-content.right .progress-label,
	.newsletter-content.right .contdown-bar__label,
	.newsletter-content.right .style-colon .contdown-bar__label,
	.newsletter-content.right .style-colon {
		justify-content: right;
		text-align: right;
	}

  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 36rem;
  }

  .newsletter-content .newsletter-form {
    max-width: none;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 6rem;
  border-color: transparent;
}

.newsletter__wrapper .newsletter-form__field-wrapper .field__input {
  padding-right: 16rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newssub {
	background: var(--background-color);
} 

.newsletter-form__message {
  margin-bottom: 0;
  width: 100%;
  justify-content: flex-start;
}

.email-signup-banner .newsletter-form__message {
  justify-content: center;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

.newsletter-form__button {
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 5rem;
  z-index: 2;
  width: auto;
  padding: 1.2rem 2rem;
  line-height: 1.4;
  font-size: var(--buttons-font-size);
  font-weight: var(--buttons-font-weight);
  color: rgba(var(--button-color-text), 1);
  background-color: rgba(var(--button-color-bg), 1);
  border: var(--buttons-border-size) solid rgba(var(--button-color-border), 1);
  border-radius: var(--buttons-radius-outset);
  margin-top: .1rem;
  transition: all var(--duration-short) ease;
}

.newsletter-form__button:focus,
.newsletter-form__button:hover {
  color: rgba(var(--button-color-text-hover), 1);
  background-color: rgba(var(--button-color-bg-hover), 1);
  border: var(--buttons-border-size) solid rgba(var(--button-color-border-hover), 1);
}

.footer-block__newsletter .newsletter-form__button {
  padding: 1.2rem;
  width: 5.2rem;
}

.footer-block__newsletter .newsletter-form__button .icon {
    width: 2rem;
}

.footer-block__newsletter .field__label {
  font-size: 1.6rem;
  top: calc(1.4rem + var(--inputs-border-width));
}

.newsletter-form__field-wrapper .field__label {
  color: rgba(var(--color-base-text), .5);
}

@media screen and (max-width: 749px) {
  .newsletter-form__button {
    font-size: calc(var(--buttons-font-size-mobile));
    min-height: 4.4rem;
  }
  .footer-block__newsletter .newsletter-form__button {
    width: 4.4rem;
  }
  .footer-block__newsletter .field__label {
    font-size: 1.2rem;
    top: calc(1.4rem + var(--inputs-border-width));
  }

  .newsletter__wrapper .newsletter-form__field-wrapper .field__input {
    padding-right: 13rem;
    font-size: 1.4rem;
  }
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-background)), 0 0 0 0.3rem rgba(var(--color-base-text));
  background-color: rgba(var(--button-color-bg-hover), 1);
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

.newsletter-content--wrapp .newsletter-form__button {
  background-color: transparent;
  z-index: 1;
}

.newsletter-form__field-wrapper .newsletter-form__button::before,
.newsletter-content--wrapp .newsletter-form__button::before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: rgba(var(--button-color-bg), 1);
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .3s ease;
  z-index: -1;
}
.newsletter-form__field-wrapper .newsletter-form__button::after,
.newsletter-content--wrapp .newsletter-form__button::after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: rgba(var(--button-color-bg-hover), 1);
  left: 0;
  bottom: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: all .3s ease;
  z-index: -1;
}

.newsletter-form__field-wrapper .newsletter-form__button:hover::after,
.newsletter-content--wrapp .newsletter-form__button:hover::after {
  width: 101%;
}

.email-signup-banner .newsletter-form__field-wrapper .newsletter-form__button:hover svg>path {
	color: rgb(var(--color-base-heading));
	fill: rgb(var(--color-base-heading));
}
