.complementary-products__container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

@media screen and (max-width: 749px) {
  product-recommendations .recommendations-background {
    background-color: transparent;
  }

  product-recommendations:not(.is-accordion) .recommendations-background .complementary-products__container {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .recommendations-background {
    padding: 3rem;
    border-radius: 2rem;
  }

  product-recommendations:not(.is-accordion) .recommendations-background .complementary-products__container {
    margin-top: 0;
  }
}

.recommendations-background .slider--everywhere {
  margin-bottom: 0;
}

.product__info-wrapper .complementary-products__container .slider-mobile-gutter .slider--everywhere {
  margin-top: 0;
  margin-bottom: 0;
}

product-recommendations:not(.is-accordion) .complementary-products__container {
  margin-top: 2.5rem;
}

.complementary-products__container > details[open] {
  padding-bottom: 1.5rem;
}

.complementary-slider {
  margin-top: 0;
  gap: 0;
	width: 100%;
}

.slider-mobile-gutter .slider-buttons.unvisible {
	visibility: hidden;
	pointer-events: none;
}

@media screen and (max-width: 1023px) {
	.slider-mobile-gutter .slider-buttons.unvisible {
		display: none;
	}
}

.complementary-slide {
  --shadow-padding-sides: calc((var(--shadow-horizontal-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));
  --shadow-padding-sides-negative: calc(
    (var(--shadow-horizontal-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible)
  );
}

.complementary-slide > ul {
  display: flex;
  flex-direction: column;
  gap: var(--grid-mobile-vertical-spacing);
}


.product ~ .complementary-products {
  display: block;
}
@media screen and (min-width: 950px) {
  .product__media-wrapper .complementary-slide > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product__media-wrapper .complementary-slide > ul > li {
    width: calc(50% - var(--grid-desktop-vertical-spacing) / 2);
  }
  .product ~ .complementary-products .complementary-slide > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product ~ .complementary-products .complementary-slide > ul > li {
    width: calc(50% - var(--grid-desktop-vertical-spacing) / 2);
  }
}
  
.product__media-wrapper .complementary-slide > ul > li .card__inner {
  flex-shrink: 0;
}


.product__media-wrapper .slider-mobile-gutter .slider-buttons.unvisible {
  display: none;
}

.complementary-slide.complementary-slide--standard > ul {
  gap: calc(var(--grid-mobile-vertical-spacing));
}

@media screen and (min-width: 750px) {
  .complementary-slide > ul {
    gap: var(--grid-desktop-vertical-spacing);
  }

  .complementary-slide.complementary-slide--standard > ul {
    gap: calc(var(--grid-desktop-vertical-spacing));
  }
}

.complementary-slide.grid__item {
  width: 100%;
  padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
  padding-bottom: max(var(--focus-outline-padding), var(--shadow-padding-bottom));
  padding-right: max(var(--focus-outline-padding), var(--shadow-padding-sides));
  padding-left: max(var(--focus-outline-padding), var(--shadow-padding-sides-negative));
}

.complementary-slide .card-wrapper {
  height: auto;
}

.complementary-products > .summary__title {
  display: flex;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion + product-recommendations .accordion,
product-recommendations.is-accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.complementary-products > .summary__title .icon-accordion {
  fill: rgb(var(--color-base-text));
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.complementary-products__container .card--card .card__content,
.complementary-products__container .card--horizontal .card__information {
  padding: 0;
}

.complementary-products__container .card--horizontal .card__inner {
  max-width: 30%;
}

.complementary-slide .card--text .card__content {
  grid-template-rows: minmax(0, 1fr) max-content auto;
}

.complementary-products__container .card--card.card--media > .card__content {
  margin-top: 0;
}

.complementary-products-contains-quick-add .underline-links-hover:hover a {
  text-decoration: initial;
}

.complementary-products-contains-quick-add .card__heading:hover a {
  text-decoration: underline;
}

.complementary-products__container .card--card .card__inner .card__media {
  border-radius: calc(var(--corner-radius) - var(--border-width) - var(--image-padding));
}

.complementary-products__container .card--horizontal .quick-add {
  margin: 0;
  max-width: 20rem;
}

.complementary-products__container .quick-add__submit {
  padding: .5rem 0;
  min-height: inherit;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  min-width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  color: rgba(var(--color-base-text), 1);
  font-weight: 700;
}

.complementary-products__container .quick-add__submit:hover,
.complementary-products__container .quick-add__submit:hover * {
  color: rgb(var(--color-secondary-heading));
}

.complementary-products__container .quick-add__submit .icon-plus {
  width: 1.2rem;
}

.complementary-products__container .quick-add__submit .loading-overlay__spinner {
  margin-left: 1rem;
}

.complementary-products__container .icon-wrap {
  display: flex;
}

.complementary-products .sold-out-message:not(.hidden) + .icon-wrap {
  display: none;
}

.complementary-products__container .quick-add__submit:not(.animate-arrow) .icon-wrap {
  transition: transform var(--duration-short) ease;
}

.complementary-products__container .quick-add__submit:not(.animate-arrow):hover .icon-wrap {
  transform: rotate(90deg);
}

.complementary-products__container .quick-add__submit:after,
.complementary-products__container .quick-add__submit:hover:after {
  box-shadow: none;
}

.complementary-products__container .card--horizontal .quick-add,
.complementary-products__container .card__badge {
  justify-self: var(--text-alignment);
}

.complementary-products__container .card__heading {
  margin-bottom: .5rem;
  font-weight: 400;
}

.product--no-media .complementary-products__container .price {
  text-align: var(--text-alignment);
}

@media screen and (min-width: 750px) {
  .complementary-products__container .price--on-sale .price-item--regular {
    font-size: 1.3rem;
  }
}

.complementary-products__container .card-wrapper .card .quick-add,
.complementary-products__container .card-wrapper:hover .card .quick-add {
  transform: translate(0);
  animation: none;
  opacity: 1;
  margin-top: auto;
  display: block;
  position: relative;
}

.complementary-products__container .card--horizontal .card__content {
  height: 100%;
  display: block;
}

.complementary-products__container .card--horizontal .card__information {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.complementary-products__container .price {
  margin-bottom: 1rem;
}