.main-cart-breadcrumb {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.breadcrumb-section {
  position: relative;
  margin-bottom: 0rem;
}

.breadcrumbs {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 2rem
}

.breadcrumb-section-product .breadcrumbs {
  margin-top: 0;
  padding: 0;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: flex;
}

.breadcrumbs__item:not(:last-child):after {
  content: '/';
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 0 .7rem;
  vertical-align: middle;
}

.breadcrumbs__link {
  font-size: 1.4rem;
  line-height: 1.6;
  color: currentColor;
  text-decoration: none;
  transition: all var(--duration-default);
  word-break: break-word;
}

.breadcrumbs__item,
.breadcrumbs__link {
  font-size: 1.4rem;
}

.article .breadcrumbs__link {
  text-transform: uppercase;
}

.breadcrumbs__link p {
  margin: 0;
}

a.breadcrumbs__link:hover {
  text-decoration: underline;
}

.text-color-main .breadcrumbs__link {
  color: rgba(var(--color-base-text), .8);
}
.text-color-secondary .breadcrumbs__link {
  color: rgba(var(--color-secondary-text), .8);
}
.text-color-heading .breadcrumbs__link {
  color: rgba(var(--color-base-heading), .8);
}
.text-color-heading-secondary .breadcrumbs__link {
  color: rgba(var(--color-secondary-heading), .8);
}
.text-color-main span.breadcrumbs__link {
  color: rgba(var(--color-base-text), 1);
}
.text-color-secondary span.breadcrumbs__link {
  color: rgba(var(--color-secondary-text), 1);
}
.text-color-heading span.breadcrumbs__link {
  color: rgba(var(--color-base-heading), 1);
}
.text-color-heading-secondary span.breadcrumbs__link {
  color: rgba(var(--color-secondary-heading), 1);
}
.text-color-main-hover .breadcrumbs__link:not(span) {
  color: rgba(var(--color-base-text), 1);
}
.text-color-secondary-hover .breadcrumbs__link:not(span):hover {
  color: rgba(var(--color-secondary-text), 1);
}
.text-color-heading-hover .breadcrumbs__link:not(span):hover {
  color: rgba(var(--color-base-heading), 1);
}
.text-color-heading-secondary-hover .breadcrumbs__link:not(span):hover {
  color: rgba(var(--color-secondary-heading), 1);
}

.breadcrumbs-nav {
  display: flex;
  column-gap: 2rem;
}

@media screen and (max-width: 1200px) {
  .breadcrumbs {
    margin-bottom: 3.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .section-header:has(sticky-header[data-sticky-type="cover-logo-size"]) ~ .content-for-layout .breadcrumbs {
    margin-top: 7rem;
  }
  .section-header:has(sticky-header[data-sticky-type="cover-logo-size"]) ~ .content-for-layout .section-main-product .breadcrumbs {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 949px) {
  .section-header:has(sticky-header[data-sticky-type="cover-logo-size"]) ~ .content-for-layout .breadcrumbs {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 749px) {
  .breadcrumbs {
    margin-top: 2rem;
  }

  .breadcrumbs-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 2rem;
  }
}

