.card-variants-wrapp {
  margin-bottom: 1rem;
  transition: all .3s ease;
}

.card-variants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: .3rem;
  margin-bottom: 1rem;
}
.card-variants .card-variant {
  height: 2rem;
  width: 2rem;
}
.card-variants .card-variant:focus-visible {
  outline: 0.2rem solid rgba(var(--color-base-text), 0.5);
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-base-text), 0.3);
  border-radius: 50%;
}

.card-variants .card-variant__item {
  display: inline-block;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 auto;
  border-radius: 50%;
}

.card-variants .card-variant__item:before {
  content: '';
  position: absolute;
  left: -.3rem;
  top: -.3rem;
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  border: .1rem solid rgba(var(--color-base-text), .7);
  box-sizing: border-box;
  flex-shrink: 0;
}

.card-variants .active .card-variant__item:before {
  left: -.4rem;
  top: -.4rem;
  width: 2.4rem;
  height: 2.4rem;
  border: .2rem solid rgba(var(--color-base-text), .7);
}