.image-hotspot--inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
}

.image-hotspot--inner::after {
  content: '';
  position: absolute;
  top: 0;
  background: #000000;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.image-hotspot--inner > svg,
.image-hotspot--inner > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-width .image-hotspot--inner {
  border-radius: var(--sh-border-radius, var(--media-radius));
}

.image-hutspot-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 96rem;
    z-index: 2;
    padding: 4rem;
}

.image-hutspot-content .title {
    margin: 0;
}

.image-hutspot-content p {
    margin: 0;
}

.image-hotspot .title-wrapper .button {
    margin-top: 4rem;
}

@media screen and (min-width: 750px) {
    .image-hutspot-content.hight {
        padding: 2rem 4rem 2rem;
    }
}
@media screen and (min-width: 1199px) {
    .image-hutspot-content.hight {
        padding: 2rem 4rem 6rem;
    }
}
@media screen and (min-width: 1299px) {
    .image-hutspot-content.hight {
        padding: 2rem 4rem 10rem;
    }
}
@media screen and (min-width: 1499px) {
    .image-hutspot-content.hight {
        padding: 2rem 4rem 12rem;
    }
}

.image-hutspot-content > * + * {
    margin-top: 5.5rem;
}

.image-hutspot-content.medium-margin > * + * {
    margin-top: 4rem;
}

.image-hotspot-button.button {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.image-hotspot--item {
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
}

.image-hotspot--item:focus,
.image-hotspot--item:hover {
    z-index: 3;
}

.image-hotspot--item .image-hotspot--item-icon span {
    transition: all .4s ease;
    color: rgb(var(--color-base-text));
}

.image-hotspot--item:hover .image-hotspot--item-icon:not(.with-icon) span {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.image-hotspot--item:nth-child(even) {
    animation-delay: .3s;
}

.image-hotspot--item:nth-child(2) {
    top: 50%;
    left: 50%;
}

.image-hotspot--item:nth-child(3) {
    top: 25%;
    left: 25%;
}

.image-hotspot--item:nth-child(4) {
    top: 75%;
    left: 35%;
}

.image-hotspot--item-icon {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease;
    position: relative;
}

.image-hotspot--item-icon.with-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.image-hotspot--item-icon::before {
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 50%;
    opacity: 1;
    animation: pulsate 3s cubic-bezier(.2,1,.2,1) infinite;
    pointer-events: none;
}

.image-hotspot--item-icon::after {
    content: '';
    width: 170%;
    height: 170%;
    position: absolute;
    opacity: 0;
}

@keyframes pulsate {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}

.image-hotspot--item-icon > span {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    font-size: 1.7rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease;
    position: relative;
    font-weight: 600;
}

.image-hotspot--item-icon:not(.with-icon) > span::before {
    content: '';
    display: inline-block;
    width: .2rem;
    height: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.image-hotspot--item-icon:not(.with-icon) > span::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: .2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hotspot-bubble {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 3.6rem);
    background-color: #fff;
    padding: 1.2rem;
    opacity: 0;
    pointer-events: none;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    z-index: 3;
    border-radius: 1rem;
    display: none;
    cursor: auto;
}

@media screen and (min-width: 750px) {
    .hotspot-bubble.visible {
        opacity: 1;
        display: flex;
        pointer-events: all;
    }
}

.hotspot-bubble.bubble-right {
    top: 50%;
    left: 0;
    transform: translate(3.6rem, -50%);
}
.hotspot-bubble.bubble-left {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
}
.hotspot-bubble.bubble-top {
    top: 0;
    left: 0;
    transform: translate(0, -100%);
}

@media screen and (min-width: 750px) {
    .image-hotspot--item:focus .hotspot-bubble,
    .image-hotspot--item:hover .hotspot-bubble {
        z-index: 2;
        opacity: 1;
        display: flex;
        pointer-events: all;
        min-width: 16rem;
    }
}

.hotspot-bubble--info {
    text-align: left;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.bubble-image {
    flex-shrink: 0;
    height: 7.5rem;
    width: 6rem;
    position: relative;
    display: inline-block;
    border-radius: .5rem;
    overflow: hidden;
}

.bubble-image:hover img:not(:only-child) {
    opacity: 0;
}

.bubble-image img:not(:only-child) + img {
    opacity: 0;
}

.bubble-image:hover img:not(:only-child) + img {
    opacity: 1;
}

.bubble-image svg,
.bubble-image img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.bubble-content {
    min-width: 14rem;
}

.hotspot-bubble .title {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 .3rem;
    color: rgb(var(--color-general-main-text));
    font-family: var(--font-heading-family);
    transition: color .3s ease;
}

.hotspot-bubble .title a {
    color: rgb(var(--color-general-main-text));
}

.hotspot-bubble .title:hover a,
.hotspot-bubble .title:hover a * {
    color: rgb(var(--color-general-main-text));
}

.hotspot-bubble .text {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 400;
}

.hotspot-bubble .price {
    line-height: 1.2;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.hotspot-bubble .price--on-sale .price__sale {
	gap: .7rem;
}

.hotspot-bubble .quick-add__submit {
    background-color: transparent;
    border: none;
    padding: 0 .4rem .1rem;
    line-height: 1;
    color: rgba(var(--button-color-bg), 1);
    min-height: auto;
    text-align: left;
    font-size: 1.6rem;
    justify-content: flex-start;
    border:none;
}
.hotspot-bubble .quick-add__submit:hover {
    color: rgba(var(--button-color-bg), 1);
    border:none;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    box-shadow: none;
}

.hotspot-bubble .quick-add__submit.button span,
.hotspot-bubble .quick-add .button.quick-add__submit {
	height: auto;
	min-height: auto;
	padding-left: 0;
	border-radius: 0;
	background: transparent;
	color: rgb(var(--color-base-heading));
}

.bubble-close,
.hotspot-bubble .quick-add__submit:before,
.hotspot-bubble .quick-add__submit::after {
    display: none;
}

.image-hotspot video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .image-hutspot-content > * + * {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 749px) {

    .image-hutspot-content.hight {
        padding-bottom: 6rem;
    }

    .image-hutspot-content {
        padding: 2rem 2rem 3rem;
    }

    .image-hotspot--item.active {
        z-index: 3;
    }

    .image-hotspot--item-icon {
        z-index: 4;
    }

    .image-hotspot--item.active .image-hotspot--item-icon {
        z-index: 2;
    }

    .image-hotspot--item .hotspot-bubble {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .image-hotspot--item.active .hotspot-bubble {
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 1;
        display: flex;
        pointer-events: all;
        min-width: 16rem;
    }

    .hotspot-bubble--info {
        position: relative;
    }

    .bubble-close {
        position: absolute;
        left: auto;
        top: -2.0rem;
        right: -2.0rem;
        display: inline-block;
        padding: 1rem;
        line-height: 1;
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        box-sizing: border-box;
				cursor: pointer;
    }

    .image-hotspot-overlay {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0;
        transform: translateY(0);
        transition: transform .3s ease;
        display: none;
    }


    .image-hotspot--item.active ~ .image-hotspot-overlay {
        opacity: .6;
        display: inline-block;
        z-index: 2;
    }
}

.image-hotspot .hotspot-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 95rem;
    width: 100%;
}

.image-hotspot .slider-arrow {
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin: 0;
}

.hotspot-slider-thumbs .slider-arrow svg {
    width: 4rem;
    height: auto;
  }

.hotspot-slider-thumbs .swiper {
    border-radius: 2rem;
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.hotspot-slider .slider-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem 4rem;
    border-radius: var(--media-radius);
}

.hotspot-slider .product-count {
    width: calc(50% - 4rem);
    text-align: right;
}

.hotspot-slider-thumbs .product-image {
    position: relative;
    width: 8rem;
    height: 8rem;
    flex-shrink: 0;
}

.hotspot-slider-thumbs .product-image img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.hotspot-slider .product-content {
    display: flex;
    flex-direction: column;
    width: calc(50% - 4rem);
}

.hotspot-slider .product-content .link:first-child .title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.hotspot-slider .product-content > * + * {
    margin-top: .5rem;
}

.hotspot-slider .title {
    margin: 0;
}

.image-hotspot {
    position: relative;
    z-index: 2;
}
.image-hotspot .hotspot-slider-main {
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.image-hotspot .hotspot-slider-main + .hotspot-slider-thumbs {
    padding-bottom: 2.5rem;
    position: relative;
}


@media only screen and (min-width: 1025px) {
  .image-hotspot .hotspot-bubble .quick-add__submit.button:hover span {
		color: rgb(var(--color-base-heading));
	}
}

@media only screen and (min-width: 750px) and (max-width: 1199px) {
    .hotspot-slider-main img {
        height: 30rem;
        width: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .hotspot-slider-main img {
        height: 47rem;
        width: auto;
    }
}

.image-hotspot__wrapper.with-product {
	display: flex;
	align-items: center;
	justify-content: center;
	gap:  var(--grid-desktop-vertical-spacing) 3rem;
}

.image-hotspot__wrapper.with-product .card__information.with-type .card-product-info {
	margin-top: .5rem;
	margin-bottom: 2rem;
}

.image-hotspot__wrapper.with-product .card__information.with-type .card__heading {
	margin-bottom: 0;
}

.image-hotspot__wrapper.with-product .card__information .card__heading {
	margin-bottom: 2rem;
}

@media only screen and (max-width: 749px) {
	.image-hotspot .hotspot-slider {
			flex-wrap: wrap;
			row-gap: 3rem;
			column-gap: 2rem;
	}

	.image-hotspot .slider-arrow {
			order: 2;
			width: 5rem;
			height: 5rem;
	}

	.hotspot-slider-thumbs .slider-arrow svg {
			width: 2.5rem;
	}

	.hotspot-slider .slider-product {
			gap: 2rem;
			padding: 1rem 2.5rem;
	}

	.hotspot-slider .product-count {
			flex-shrink: 0;
	}

	.hotspot-slider .product-content,
	.hotspot-slider .product-count {
			width: auto;
	}

	.image-hotspot .hotspot-slider-main {
			position: absolute;
			bottom: 14rem;
			left: 50%;
			transform: translateX(-50%);
	}

	.hotspot-slider-main img {
			height: 27rem;
			width: auto;
			max-width: 100%;
	}

	.image-hotspot--inner.layout-mobile--shift {
		width: calc(100% + 11rem);
		margin: 0 -5.5rem;
		padding-bottom: calc(var(--img-height-mb) + 11rem);
	}

	.image-hotspot--inner {
		padding-bottom: var(--img-height-mb);
	}

	.image-hotspot__wrapper.with-product {
		row-gap: var(--grid-mobile-vertical-spacing);
	}
}

.image-hotspot--inner.shape--round {
	clip-path: ellipse(50% 50% at 50% 50%);
}

@media only screen and (max-width: 989px) {
	.image-hotspot--product {
		flex: 0 0 min(100%, 42rem);
	}

	.image-hotspot__wrapper.with-product {
		flex-wrap: wrap;
	}
}

@media only screen and (min-width: 990px) {
	.image-hotspot--product {
		flex: 0 0 25.5rem;
	}
}