.main-page-banner {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .main-page-banner:not(.full-width) {
    margin-right: 5rem;
    margin-left: 5rem;
    max-width: var(--header-width);
    border-radius: 2rem;
    overflow: hidden;
  }
}

@media screen and (min-width: 1700px) {
  .main-page-banner:not(.full-width) {
    margin-right: auto;
    margin-left: auto;
  }
}

.main-page-banner .collection-hero--overlay,
.main-page-banner .collection-hero--overlay-right {
  position: absolute;
  top: 0;
  bottom: auto;
  height: 100%;
  max-width: 50%;
}

.collection-hero--background,
.collection-hero--background-mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
@media screen and (max-width: 749px) {
  .collection-hero--background{
    display: none;
  }
}
@media screen and (min-width: 750px) {
  .collection-hero--background-mobile {
    display: none;
  }
}

.collection-hero--background img,
.collection-hero--background-mobile img {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
	object-fit: cover;
	object-position: center;
}

.main-page-banner .collection-hero--overlay {
  left: 0;
  right: auto;
  text-align: left;
}
.main-page-banner .collection-hero--overlay-right {
  right: 0;
  left: auto;
  text-align: right;
}

.main-page-banner .collection-hero--overlay img,
.main-page-banner .collection-hero--overlay-right img {
  width: auto;
  height: 100%;
  max-height: 100%;
}

.page-title {
  margin-top: 0;
}

.page .page-title {
  margin-bottom: 4rem;
}

.main-page-title {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  padding: 0 2rem;
}

@media screen and (min-width: 990px) {
	.page .mb-lg-6 {
		margin-bottom: 6rem;
	}
}

@media screen and (max-width: 1199px) {
  .section-header.section-header:has(
      sticky-header[data-sticky-type="cover-logo-size"]
    )
    ~ .content-for-layout
    .main-page-title {
    padding-top: 4rem;
  }
}
@media screen and (max-width: 749px) {
  .section-header.section-header:has(
      sticky-header[data-sticky-type="cover-logo-size"]
    )
    ~ .content-for-layout
    .main-page-title {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 1199px) {
  .main-page-banner .collection-hero--overlay,
  .main-page-banner .collection-hero--overlay-right {
    height: 50%;
  }
  .main-page-banner .collection-hero--overlay {
    height: 50%;
    bottom: auto;
  }

  .main-page-banner .collection-hero--overlay-right {
    height: 50%;
    top: 0;
  }
}

@media screen and (min-width: 750px) {
  .main-page-title {
    padding: 2rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 940px) {
  .main-page-banner .collection-hero--overlay img,
  .main-page-banner .collection-hero--overlay-right img {
    width: calc(((100vw - 130px) / 2));
    object-fit: contain;
  }
  .main-page-banner .collection-hero--overlay img {
    object-position: top left;
  }
  .main-page-banner .collection-hero--overlay-right img {
    object-position: bottom right;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.main-page-banner + .content {
  position: relative;
}
