.announcement-bar {
  padding-left: 2rem;
  padding-right: 2rem;
}
.announcement-bar .swiper-wrapper {
  align-items: center;
}

.announcement-bar .swiper-slide .link,
.announcement-bar .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.announcement-bar .swiper-slide svg,
.announcement-bar .swiper-slide img {
  width: auto;
}

.announcement-bar .swiper-slide img:first-child {
  margin-right: 1.5rem;
}

.announcement-bar .swiper-slide img:last-child {
  margin-left: 1.5rem;
}

.announcement-bar__link:hover {
  text-decoration: underline;
}

.announcement-bar__message {
  padding: 0;
  text-align: center;
  display: inline-block;
  margin: .3rem 0 0;
  line-height: 1.4;
}

a:hover .announcement-bar__message {
  text-decoration: underline;
}

.announcement-bar__message span:not(.active):not(.amountdisparity) {
  display: none;
}

@media screen and (max-width: 749px) {
  .with-icon .announcement-bar__message {
    max-width: 60vw;
  }
  .announcement-bar .swiper-slide img:first-child {
    margin-right: 1.2rem;
  }
  .announcement-bar .swiper-slide img:last-child {
    margin-left: 1.2rem;
  }
}