.multicolumn .title {
  margin: 0;
  width: 100%;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn-list__item {
	position: relative;
}

.multicolumn .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .multicolumn-card__image-wrapper--quarter-width {
    width: 25%;
  }

  .multicolumn-card__image-wrapper--third-width {
    width: 33%;
  }

  .multicolumn-card__image-wrapper--half-width {
    width: 50%;
  }

  .multicolumn-card__image-wrapper--three-quarters-width{
    width: 75%;
  }

  .multicolumn-card__image-wrapper--full-width {
    width: 100%;
  }

  .multicolumn-card__image-wrapper--full-width.multicolumn-card-spacing {
    margin: 0;
  }
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 4rem;
  }

  .multicolumn-card__image-wrapper--quarter-width-mobile {
    width: 25%;
  }

  .multicolumn-card__image-wrapper--third-width-mobile {
    width: 33%;
  }

  .multicolumn-card__image-wrapper--half-width-mobile {
    width: 50%;
  }

  .multicolumn-card__image-wrapper--three-quarters-width-mobile {
    width: 75%;
  }

  .multicolumn-card__image-wrapper--full-width-mobile {
    width: 100%;
  }
  
  .multicolumn-card__image-wrapper--full-width-mobile.multicolumn-card-spacing {
    margin: 0;
  }
}

.multicolumn-card.b_none .multicolumn-card__image-wrapper {
	margin-left: 1.5rem;
}

.multicolumn-list__item.left .multicolumn-card__image-wrapper {
  align-self: flex-start;
}
.multicolumn-list__item.center .multicolumn-card__image-wrapper {
  align-self: center;
}
.multicolumn-list__item.right .multicolumn-card__image-wrapper {
  align-self: flex-end;
}

.multicolumn-list__item.left .image-position-bottom .multicolumn-card__image-wrapper {
  align-self: flex-end;
}
.multicolumn-list__item.center .image-position-bottom .multicolumn-card__image-wrapper {
  align-self: center;
}
.multicolumn-list__item.right .image-position-bottom .multicolumn-card__image-wrapper {
  align-self: flex-start;
}

.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn-list__item.right .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width) {
  margin-left: auto;
}

.multicolumn-list__item.right .image-position-bottom .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width) {
  margin-right: auto;
  margin-left: 1.5rem;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

.multicolumn.background-none .button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }

  .multicolumn.background-none .button {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn .mt-lg-6 {
    margin-top: 6rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  height: 100%;
}

.multicolumn-list h3 {
  line-height: 1.5;
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
  padding-top: 3rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card-spacing:only-child {
  padding-bottom: 3rem;
}

@media screen and (max-width: 749px) {
  .multicolumn-card-spacing {
    padding-top: 2rem;
  }
  .multicolumn-card-spacing:only-child {
    padding-bottom: 2rem;
  }
}

.b_none .multicolumn-card-spacing:only-child {
  padding: 0;
}

.image-position-bottom .multicolumn-card-spacing {
  padding-top: 0;
  margin-left: auto;
}

.image-position-bottom .multicolumn-card-spacing:only-child {
  padding-bottom: 0;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1.5rem;
}

@media screen and (max-width: 749px) {
  .multicolumn-card__info > :nth-child(2) {
    margin-top: 1.5rem;
  }
}

.center .multicolumn-card__info > .rte {
  margin-right: auto;
  margin-left: auto;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

.multicolumn-list__item .media--adapt img {
  object-fit: contain;
}

.multicolumn.layout--shift:not(.showcase) {
	overflow: visible;
	overflow-x: clip;
}

.multicolumn.layout--shift:not(.showcase) {
	margin-bottom: calc(300px);
	margin-top: calc(400px);
}

.multicolumn.layout--shift:not(.showcase) .isolate{
	z-index: 2;
	margin-bottom: -30rem;
	margin-top: -40rem;
}

@media screen and (max-width: 989px) {
  .multicolumn-card__info > .rte {
    max-width: 40rem;
  }

	 .multicolumn-list__item.mobile-left .multicolumn-card.b_none .multicolumn-card__image-wrapper {
		margin-left: 1.5rem;
	}

	 .multicolumn-list__item.mobile-left .multicolumn-card:not(.b_none) .multicolumn-card__image-wrapper {
		margin-left: 2.5rem;
	}
	
  
	.multicolumn-list .multicolumn-list__item.mobile-left .multicolumn-card__image-wrapper {
		align-self: flex-start;
		margin-right: auto;	
		
	}

	.multicolumn-list .multicolumn-list__item.mobile-center .multicolumn-card__image-wrapper {
		align-self: center;
		margin-left: auto;
		margin-right: auto;
	}

	 .multicolumn-list__item.mobile-right .multicolumn-card.b_none .multicolumn-card__image-wrapper {
		margin-right: 1.5rem;
	}

	 .multicolumn-list__item.mobile-right .multicolumn-card:not(.b_none) .multicolumn-card__image-wrapper {
		margin-right: 2.5rem;
	}

	.multicolumn-list .multicolumn-list__item.mobile-right .multicolumn-card__image-wrapper {
		align-self: flex-end;
		margin-left: auto;
		margin-right: 0;
	}

	.multicolumn-list__item.mobile-left .image-position-bottom .multicolumn-card__image-wrapper {
		align-self: flex-end;
	}
	.multicolumn-list__item.mobile-center .image-position-bottom .multicolumn-card__image-wrapper {
		align-self: center;
	}
	.multicolumn-list__item.mobile-right .image-position-bottom .multicolumn-card__image-wrapper {
		align-self: flex-start;
	}


	.multicolumn-list__item.mobile-left .multicolumn-card__info {
		text-align: left;
	}

	.multicolumn-list__item.mobile-center .multicolumn-card__info {
		text-align: center;
	}
	
	.multicolumn-list__item.mobile-center .multicolumn-card__info .rte{
		margin-left: auto;
		margin-right: auto;
	}

	.multicolumn-list__item.mobile-right .multicolumn-card__info {
		text-align: right;
	}

	.multicolumn-list__item.mobile-right .multicolumn-card__info .rte{
		margin-left: auto;
	}
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .background-primary slider-component + div {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) {

  .background-primary slider-component + div {
    padding-top: 2rem;
    padding-bottom: 2.6rem;
  }

  .multicolumn-list.slider,
  .multicolumn-list.grid--4-col-desktop {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 2.5rem 2.5rem 3rem;
}

.b_none .multicolumn-card-spacing {
  padding-top: 1rem;
}
.b_none .multicolumn-card__info {
  padding: 2.5rem 1.5rem 1rem;
}
.b_none .multicolumn-card__info:only-child {
  padding: 1rem 1.5rem 1rem;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 4rem;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .image-position-bottom .multicolumn-card__image-wrapper {
    margin-left: auto;
  }

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.background-none .multicolumn-list .multicolumn-card__info,
.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
	padding-bottom: 0;
}

.background-none .multicolumn-list .image-position-bottom .multicolumn-card__info,
.background-none .multicolumn-list:not(.slider) .center .image-position-bottom .multicolumn-card__info {
  padding-top: 0;
  padding-bottom: 4rem;
}

.background-none .multicolumn-list {
	row-gap: calc(var(--grid-desktop-vertical-spacing) + 30px);
}

.multicolumn-card {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.multicolumn-card {
  display: flex;
  flex-direction: column;
}

.multicolumn-card.image-position-bottom {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.multicolumn:not(.background-none) .multicolumn-card.image-position-bottom {
  padding-bottom: 2rem;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn:not(background-none) .multicolumn-card {
  border-radius: var(--mc-border-radius, 1rem);
}

.multicolumn-card .multicolumn-card__background-image {
  position: absolute;
  object-fit: cover;
  width: calc(100% + .2rem);
  height: calc(100% + .2rem);
  left: -.1rem;
  top: -.1rem;
  z-index: 0;
}

.multicolumn-card__image-wrapper,
.multicolumn-card__info {
  position: relative;
  z-index: 1;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}


@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }

	.image-position-center .multicolumn-card__info {
		padding-left: 1.5rem;
		padding-right: 1rem;
	}

	.multicolumn-list__item .image-position-center .multicolumn-card__image-wrapper {
		padding-top: 0;
		align-self: center;
	}

	.image-position-center h3 {
		line-height: 1.2;
	}

	.image-position-center {
		flex-direction: row-reverse;
		align-items: center;
	}

	.grid--2-col-desktop .image-position-center {
		padding: 5rem 2.5rem 5rem 6.5rem;
	}

	.image-position-center .multicolumn-card__image-wrapper--three-quarters-width {
		flex: 0 0 75%;
	}

	.image-position-center .multicolumn-card__image-wrapper--quarter-width {
    flex: 0 0 25%;
  }

	.image-position-center .multicolumn-card__image-wrapper--third-width {
    flex: 0 0 33%;
  }

  .image-position-center .multicolumn-card__image-wrapper--half-width {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 989px) {
  .n_none .multicolumn-card__image-wrapper.no-text {
    padding-bottom: 0;
  }

}