.sticky-atc-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  background-color: #fff;
  padding: 1.5rem 0;
  border-color: transparent;
  border-style: solid;
  border-width: var(--popup-border-width);
  transition: transform 0.4s ease;
}

.sticky-atc-bar.default {
  transform: translateY(100%);
}

.sticky-atc-bar.default.atc-visible {
  transform: translateY(0);
}

.sticky-atc-bar.right-side {
  transform: translate(calc(100% + 50px));
}

.sticky-atc-bar.right-side.atc-visible {
  transform: translateY(0);
}

.atc-bar-product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.atc-product-media {
  display: flex;
	width: 8rem;
}

.atc-product-media .media {
	width: 100%;
	border-radius: var(--media-radius)
}

.atc-product-info {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.atc-product-title {
  margin: 0 0 0.5rem;
  font-weight: 600;
  max-width: 25rem;
  line-height: 1.3;
}

.atc-product-title-vendor {
  display: block;
  color: rgb(var(--color-base-text));
  opacity: 0.7;
}

.atc-product-info .price dl {
  margin-bottom: 0;
}

.atc-product-form {
  margin-left: auto;
  padding-left: 3rem;
}

.atc-product-form .select {
  width: auto;
  flex-shrink: 0;
  display: block;
}

.atc-product-form .select__select {
  box-shadow: none;
  border: 0.1rem solid rgba(var(--color-background), 0.55);
  font-size: 1.6rem;
	height: 5.2rem;
  padding-right: 3.5rem;
  padding-left: 1.5rem;
  cursor: pointer;
  box-sizing: border-box;
}

.atc-product-form form {
  display: flex;
  align-items: center;
}

.default .atc-product-form form {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.atc-product-form form > * {
  margin-left: 1.5rem;
  flex-shrink: 0;
}

.atc-product-form form > .button-add-card {
  flex-shrink: inherit;
}

.atc-product-form form .quantity {
  width: auto;
}

.atc-product-form .product-form__input--dropdown {
  margin-bottom: 0;
}

.atc-product-form .product-form__buttons {
  display: flex;
  align-items: center;
}

.atc-product-form .product-form__input {
  flex: none;
}

.sticky-atc-bar .select .icon-caret {
  top: 50%;
  transform: translateY(-50%);
}

.sticky-atc-bar .product-form__error-message-wrapper:not([hidden]) {
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.sticky-atc-bar .product-form__error-message-wrapper:not([hidden]) svg {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .sticky-atc-bar .page-width {
    padding: 0 2rem;
  }

  .sticky-atc-bar .button {
    padding: 0.5rem 2rem;
    min-height: 4.4rem;
  }

  .sticky-atc-bar .quantity {
    display: none;
  }

  .sticky-atc-bar .atc-product-title {
    max-width: 23rem;
  }
}

@media screen and (max-width: 749px) {
  .sticky-atc-bar .atc-product-media {
    display: none;
  }

  .atc-product-title {
    margin-bottom: 0;
    line-height: 1.2;
  }

  .right-side .atc-product-title {
    margin-bottom: 5px;
  }

  .atc-product-info .price {
    font-size: 1.6rem;
  }

  .atc-product-info .price--on-sale .price-item--regular {
    font-size: 1.4rem;
  }

  .sticky-atc-bar .product-form__error-message-wrapper:not([hidden]) {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .default .atc-product-form form {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

	.atc-product-media .media {
		flex: 0 0 6rem;
	}

  .atc-product-form .select__select {
    height: 4.4rem;
  }
}

@media screen and (max-width: 549px) {
  .sticky-atc-bar .page-width {
    padding: 0 1.5rem;
  }

  .sticky-atc-bar .atc-product-info {
    display: none;
  }

  .atc-product-form {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }

  .default .atc-product-form form {
    justify-content: center;
    gap: 1rem;
  }
  .atc-product-form form {
    justify-content: space-between;
  }

  .default .atc-product-form .select__select {
    box-sizing: border-box;
  }

  .atc-product-form form .select {
    margin-left: 0;
  }

  .atc-product-form .select__select {
    font-size: 1.4rem;
    padding: 0 3.5rem 0 2rem;
    border: 0.1rem solid rgba(var(--color-base-text));
  }

  .sticky-atc-bar .button {
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
  }

  html[lang="de"] .sticky-atc-bar .button {
    font-size: 1.4rem;
  }
}

.sticky-atc-bar.right-side .atc-product-title {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 749px) {
  .sticky-atc-bar.right-side {
    max-width: 100%;
  }
  .sticky-atc-bar.right-side .atc-product-info {
    display: flex;
    padding-left: 0;
    padding-right: 1.5rem;
  }
  .sticky-atc-bar.right-side .atc-product-form {
    margin-left: auto;
    width: initial;
    flex-shrink: 0;
    /* width: 100%; */
  }
  .sticky-atc-bar.right-side .atc-product-form form {
    justify-content: center;
  }
  .sticky-atc-bar.right-side .atc-product-title {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 550px) and (max-width: 749px) {
  .sticky-atc-bar.right-side .atc-product-media {
    display: flex;
  }
}

@media screen and (min-width: 750px) {

  .sticky-atc-bar.right-side .button-add-card {
    margin-left: 0;
  }
  .sticky-atc-bar.right-side .page-width {
    padding: 0 2rem;
  }

  .sticky-atc-bar.right-side {
    max-width: 60rem;
    right: 1.5rem;
    left: auto;
    bottom: 1.5rem;
    border-radius: var(--popup-corner-radius);
  }
}

.sticky-atc-bar.right-side {
  border-color: (var(--color-base-text), var(--popup-border-opacity));
}


.sticky-atc-bar .atc-bar-product .atc-product-form-close.button {
  position: absolute;
  padding: 0.6rem;
  width: 2rem;
  height: 2rem;
  min-height: initial;
  border-radius: 50%;
  right: -1.2rem;
  top: -1.2rem;
}

.sticky-atc-bar .badge {
	display: none;
}

